{% extends "pdf_processor/base.html" %}
{% block content %}
{% load static %}
<div class="container py-5">
    <form action="process/" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="inputFromDate">Choose Date: </label>
                        <input type="date" name="fromDate" class="form-control" id="inputFromDate">
                    </div>
                </div>
                <button type="submit" onclick="handleRequest(event);"class="btn btn-primary px-4 float-right">Done</button>
            </form>
        </div>
    </div>
    </form>
</div>

<script>
    function handleRequest(e) {
        //e.preventDefault();
        alert("Done");
    }
</script>

{% endblock %}